#footerContainer {
    margin-top: 5%;
  }
  
  .footer {
    padding: 1.0rem;
    background-color: #EAB836;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
  }